main {
  background-color: #f5f5f5;
}

::placeholder {
  color: #1d1919;
}

.search {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
}

.search .search-bar {
  width: 60%;
  margin: 2rem;
  padding: 1rem;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  font-family: inherit;
  font-weight: 400;
  font-size: 1.25rem;
  color: #1d1919;

  border-radius: 1.5rem;

  background-color: rgba(200, 200, 200, 0.05);
  box-shadow: 0 0.5rem 3rem -0.75rem #aaaaaa;
  filter: grayscale(1);
  transition: 200ms ease;
}

.search .search-bar:focus {
  width: 75%;
  filter: grayscale(0);
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.weather {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #1a1a1a;
}

.location {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.25rem;
  color: #7e7e7e;
}

.temperature {
  font-size: 5rem;
  font-weight: 300;
  color: #1a1a1a;
}
